<!--menu-->
<div class="container">
    <h2 class="header text_b">Menú </h2>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="material/img/plato1.jpg">
                    <span class="range-field">
                        <input type="range" min="0" max="10"><span class="thumb"><span class="value"></span></span>
                    </span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Pescadito <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Pescadito de frutilla <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="material/img/plato2.jpg">
                    <span class="range-field">
                        <input type="range" min="0" max="10" class="active"><span class="thumb active" style="left: 175.547px; height: 30px; width: 30px; top: -20px; margin-left: -15px;"><span class="value">0</span></span>
                    </span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Enchiladas <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Enchiladas con huevo <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="material/img/plato3.jpg">
                    <span class="range-field">
                        <input type="range" min="0" max="10"><span class="thumb active" style="left: 284px; height: 30px; width: 30px; top: -20px; margin-left: -15px;"><span class="value">5</span></span>
                    </span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ravioles <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ravioles <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="material/img/plato4.jpg">
                    <span class="range-field">
                        <input type="range" min="0" max="10"><span class="thumb"><span class="value"></span></span>
                    </span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Papillote <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal" style="display: block; transform: translateY(-100%);">
                    <span class="card-title grey-text text-darken-4">Papillote de merluza con ensalada <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="material/img/plato5.jpg">
                    <span class="range-field">
                        <input type="range" min="0" max="10"><span class="thumb"><span class="value"></span></span>
                    </span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Pizza <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Pizza especial con huevo <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="material/img/plato6.jpg">
                    <span class="range-field">
                        <input type="range" min="0" max="10"><span class="thumb"><span class="value"></span></span>
                    </span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Parrilla <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Parrilla el Gaucho <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this project that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="mdi-content-send right white-text"></i>
        </button>
    </div>
</div>

